<h1>Productos en tiempo real</h1>


<div class="-flex flex-wrap">

{{#each productos}}
  
    <div class="card" style="width: 18rem;">
      <img src={{thumbnail}} class="card-img-top" alt="imagen del producto">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: {{price}}</li>
        <li class="list-group-item">Codigo: {{code}}</li>
        <li class="list-group-item">Stock: {{stock}}</li>
      </ul>
    </div>

{{/each}}

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
